@import './variable.scss';

.t__h2 {
	font-family: 'Source Code Pro', monospace;
	font-weight: 900;
	font-size: 32px;
	line-height: 40px;
}

.t__h3 {
	font-family: 'Source Code Pro', monospace;
	font-weight: 900;
	font-size: 24px;
	line-height: 30px;
}

.t__text {
	font-family: 'Source Code Pro', monospace;
	font-weight: 900;
	font-size: 16px;
	line-height: 20px;
}

.t__text-thin {
	font-family: 'Source Code Pro', monospace;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
}

.t__menu-item {
	font-family: 'Source Code Pro', monospace;
	font-size: 40px;
	font-weight: 600;
	line-height: 40px;
}

.bg-primary {
	background-color: $primary-bg-color;
}
.bg-secondary {
	background-color: $secondary-bg-color;
}
