@import './variable.scss';

@font-face {
	font-family: 'Gotham Pro';
	src: url('../../assets/Fonts/GothamPro/GothamPro.woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('../../assets/Fonts/GothamPro/GothamPro-Medium.woff');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'Gotham Pro';
	src: url('../../assets/Fonts/GothamPro/GothamPro-Black.woff');
	font-weight: 900;
	font-style: normal;
}

.t__h2 {
	font-family: 'Source Code Pro', monospace;
	font-weight: 900;
	font-size: 32px;
	line-height: 40px;
}

.t__h3 {
	font-family: 'Source Code Pro', monospace;
	font-weight: 900;
	font-size: 24px;
	line-height: 30px;
}

.t__text {
	font-family: 'Source Code Pro', monospace;
	font-weight: 900;
	font-size: 16px;
	line-height: 20px;
}

.t__text-thin {
	font-family: 'Source Code Pro', monospace;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
}

.t__menu-item {
	font-family: 'Source Code Pro', monospace;
	font-size: 40px;
	font-weight: 600;
	line-height: 40px;
}

.t__main-text {
	font-family: 'Gotham Pro';
	font-size: 14px;
	font-weight: 500;
	line-height: 21px;
}

.t__secondary-text {
	font-family: 'Gotham Pro';
	font-size: 16px;
	font-weight: 400;
	line-height: 16px;
}

.t__notice-text {
	font-family: 'Gotham Pro';
	font-size: 24px;
	font-weight: 500;
	line-height: 36px;
}

.bg-primary {
	background-color: $primary-bg-color;
}
.bg-secondary {
	background-color: $secondary-bg-color;
}
