@import '../helpers/typography.scss';
@import '../helpers/variable.scss';
@import '../helpers/mixins.scss';

.hero {
	position: relative;
	height: 100svh;
	color: #fff;

	&__bg-flowers {
		position: absolute;
		left: 50%;
		transform: translateX(-50%);
		z-index: -1;
	}

	&__bg-animation {
		position: absolute;
		z-index: -2;
		width: 718px;
		height: 718px;
		top: 10%;
		left: 25%;
	}

	&__bg-animation-ch {
		position: absolute;
		z-index: -2;
		width: 322px;
		height: 322px;
		top: 60%;
		left: 25%;
	}

	&__container {
		box-sizing: border-box;
		max-width: 1440px;
		width: 100%;
		padding: 3.5em 3.5em 10em 3.5em;
		margin: 0 auto;
	}
	&__switch-and-menu-container {
		@include flex(flex-end);
		gap: 4em;
	}
	&__lang-switch-container,
	&__menu-button-container {
		display: inline-flex;
		align-items: center;
		gap: 1em;
	}
	&__menu-button {
		cursor: pointer;
		&:hover {
			fill: $primary-color;
		}
		&:hover path {
			stroke: $primary-bg-color;
		}
	}
	&__title {
		font-family: 'Source Code Pro', monospace;
		font-weight: 900;
		font-size: 48px;
		line-height: 60px;
	}
	&__subtitle {
		margin-top: 2em;
		max-width: 520px;
		@include paragraph(16px, 400, 30px);
	}
	&__call-to-action-btn {
		@include paragraph(16px, 400, 16px);
		display: inline-block;
		padding: 1em 2em;
		margin-top: 2em;
		background-color: $secondary-color;
		color: $primary-bg-color;
		border-radius: 6px;
		transition: background-color 0.2s;
		&:hover {
			background-color: $primary-color;
		}
	}
	&__text-block-container {
		margin-top: 165px;
		@include flex(flex-end);
	}
	&__text-block {
		max-width: 760px;
	}
}
