@import '../../scss/helpers/mixins.scss';
@import '../../scss/helpers/typography.scss';
@import '../../scss/helpers/variable.scss';

#root {
	position: relative;
}

.modal-wrapper {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	width: 100vw;
	height: 100vh;
	@include flex();
	background-color: rgba(0, 0, 0, 0.35);
	backdrop-filter: blur(3px);
}

.menu {
	max-width: 1105px;
	max-height: 735px;
	width: 100%;
	height: 100%;
	padding: 3.5em;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: $primary-color;
	color: $typography-color;
	@media screen and (max-width: 576px) {
		max-width: 335px;
		max-height: 515px;
		padding: 1em 1em 80px 1em;
	}
	@media only screen and (min-width: 577px) and (max-width: 768px) {
		max-width: 435px;
	}
	@media only screen and (min-width: 769px) and (max-width: 992px) {
		max-width: 535px;
	}
	@media only screen and (min-width: 993px) and (max-width: 1200px) {
		max-width: 635px;
	}
	@media only screen and (min-width: 1201px) and (max-width: 1367px) {
		max-width: 935px;
	}
	&__close-btn-container {
		@include flex(flex-end);
		gap: 1em;
		@media screen and (max-width: 576px) {
			gap: 13px;
		}
	}
	&__close-btn {
		@media screen and (max-width: 576px) {
			width: 65px;
		}
		&:hover {
			cursor: pointer;
			fill: $primary-bg-color;
			path {
				stroke: $primary-color;
			}
		}
	}
	&__list-container {
		@include flex();
	}
	&__list {
		display: flex;
		flex-direction: column;
		gap: 2em;
		@media screen and (max-width: 576px) {
			gap: 1em;
		}

		&-item-link {
			color: $typography-color;
			display: inline-block;
			position: relative;
			@media screen and (max-width: 576px) {
				font-size: 24px;
			}
			&::after {
				content: '';
				position: absolute;
				width: 100%;
				transform: scaleX(0);
				height: 2px;
				bottom: 0;
				left: 0;
				background-color: $typography-color;
				transform-origin: bottom right;
				transition: transform 0.25s ease-out;
			}
			&:hover::after {
				transform: scaleX(1);
				transform-origin: bottom left;
			}
		}
	}
	&__social-links-container {
		@include flex();
		gap: 2em;
	}
	&__social-link {
		color: $typography-color;
		@media screen and (max-width: 576px) {
			font-size: 14px;
		}
	}
}
